.bg-text {
    padding-top: 60px;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.9);
    height: auto;
}

.bg-tex{
    padding-top: 60px;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.9);
    height: auto;
}

.col {
    flex: 0 0 50%;
    max-width: 50%;
    background: rgba(0, 0, 0, 0.9);
    padding: 30px;
}

.item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

h4{
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #18d26e;
    margin-bottom: 10px;
}

.item::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #18d26e;
    border: 2px solid #18d26e;
}

.item h5{
    font-size: 16px;
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}
.heaader-top {
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    z-index: 997;
}

.bg-tex .title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }
  
  .bg-tex .title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
  }
  
  .bg-tex .title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  

/* Default (Desktop) */
.a {
  padding-top: 16px;
  padding-left: 90px;
  color: #fff;
  line-height: 1;
  display: inline-block;
}

.a h1 {
  font-size: 40px; /* optional, adjust as per your design */
  line-height: 1.2;
  color: #18d26e;
  margin: 0;
}

/* Responsive (Mobile & Tablets) */
@media (max-width: 768px) {
  .a {
    padding-left: 0 !important;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .a h1 {
    font-size: 28px;
    line-height: 1.2;
    white-space: nowrap; /* ensures Swarnim Rai stays on one line */
  }
}


.b{
    color: #fff;
    padding-top: 16px;
    line-height: 1;
    display: inline-block;
    padding-bottom: 20px;
}

.bg-mob {
    padding-top: 100px;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
}

.spacer{
    flex: 1;
}
